{% extends "base.html" %}
{% load static %}

{% block menu_bar_left %}
	<a href="/accounts/logout/">Logout</a>
{% endblock %}

{% block menu_bar_rigth %}
	<div id="cart_search">
		<button class="menu_bar_buttons" onclick="window.location.href='home/cart_member'"><i class="fas fa-shopping-cart"></i></button>
		<span id="form_search_1">
			<form id="form_search" action="actionUrl/" method="get">
			{% csrf_token %}
			{{ text.as_p }}
		</form>
		</span>
		<button class="menu_bar_buttons" type="submit"><i class="fas fa-search"></i></button>
	</div>
{% endblock %}

{% block content %}
	<div class="welcome">
		<p>Hello * form of username *</p>
	</div>

	<div class="vertical-menu">
        <a href="/store/add_store/">Add store</a>
        <a href="/accounts/password_change/">Change password</a>
	</div>

{% endblock %}
