{% extends 'store/homepage_store_owner.html' %}
{% block content %}
	<form method="post">{% csrf_token %}
		{{ form.as_p }}

		<input type="submit" value="Update">
	</form>

	<p>
		<form action="/store/add_discount_to_item/{{ pk }}" method="GET">
			<input class="discount_item_button" type="submit" value="Add discount">
		</form>
	</p>
	{#	<div>#}
	{#	<form id="my_cart" action="/show_cart" method='post'>#}
	{#	#}
	{#	<div id="buy_button_1"><input class="buttons" type="submit" value="Buy now!"/></div>#}
	{#	</div>#}
{% endblock %}