{% extends 'store/homepage_store_owner.html' %}
{% block page_content %}
	<div id="store_details">
		<h2>The name of the store: {{ store.name }}</h2>
		<h4>Description: {{ store.description }}</h4>
	</div><br>
	<h2 class="title">My items</h2>
	<table class="my_stores">
		{% for item in object_list %}
			<tr>
				<td>
					<label class="store_name_button">{{ item.name }}</label>
				</td>
{#				<td>#}
{#					<form action="/store/add_item_to_store/{{ item.pk }}" method="GET">#}
{#						<button class="store_buttons" type="submit"><i class="fas fa-folder-plus"></i></button>#}
{#					</form>#}
{#				</td>#}
				<td>
					<form action="/store/update_item/{{ item.pk }}/" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-edit"></i></button>
					</form>
				</td>
				<td>
					<form action="/store/delete_item/{{ item.pk }}/" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-trash-alt"></i></button>
					</form>
				</td>
			</tr>
		{% empty %}
			<tr>No items yet</tr>
		{% endfor %}
	</table>
{% endblock %}