{% extends 'store/homepage_store_owner.html' %}
{% block page_content %}
	<form method="post">{% csrf_token %}
		{{ form.as_p }}
		{% csrf_token %}
{#		{% for item in form_.items %}#}
{#			<div class="check_item">item:::{{ item }}</div>#}
{#			<form action="/store/add_rule_to_item/{{ itemId }}" method="GET">#}
{#				<button class="store_buttons" type="submit"><i class="fas fa-lightbulb"></i></button>#}
{#			</form>#}
{#		{% endfor %}#}
		<input type="submit" value="Update">
	</form>

		<form action="/store/add_base_rule_to_item/{{ itemId }}/a" method="GET">
				<button class="store_buttons" type="submit"><i class="fas fa-lightbulb"></i></button>
			</form>
	{#	<div>#}
	{#	<form id="my_cart" action="/show_cart" method='post'>#}
	{#	#}
	{#	<div id="buy_button_1"><input class="buttons" type="submit" value="Buy now!"/></div>#}
	{#	</div>#}
{% endblock %}