{% extends 'store/homepage_store_owner.html' %}
{% block page_content %}
	<h2 class="title">My stores</h2>
	<table class="my_stores">
		{% for store in object_list %}
			<tr>
				<td>
					<form action="/store/view_details/{{ store.pk }}" method="GET">
						<input class="store_name_button" type="submit" value="{{ store.name }}">
					</form>
				</td>
				<td>
					<form action="/store/add_item_to_store/{{ store.pk }}" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-folder-plus"></i></button>
					</form>
				</td>
				<td>
					<form action="/store/update/{{ store.pk }}" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-edit"></i></button>
					</form>
				</td>
				<td>
					<form action="/store/delete/{{ store.pk }}" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-trash-alt"></i></button>
					</form>
				</td>
				<td>
					<form action="/store/add_manager_to_store/{{ store.pk }}" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-user-plus"></i></button>
					</form>
				</td>
				<td>
					<form action="/store/add_discount_to_store/{{ store.pk }}" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-tags"></i></button>
					</form>
				</td>

			</tr>
		{% empty %}
			<tr class="title" >No stores yet</tr>
		{% endfor %}
	</table>
{% endblock %}