{% extends 'store/homepage_store_owner.html' %}
{% block page_content %}
	<h2 class="title">My stores</h2>
	<ul class="my_stores">
		{% for store in object_list %}
			<li>{{ store.name }}</li>
			<form action="/store/view_details/{{ store.pk }}" method="GET">
				<input type="submit" value="View">
			</form>
			<form action="/store/delete/{{ store.pk }}" method="GET">
				<input type="submit" value="Delete">
			</form>
			<form action="/store/update/{{ store.pk }}" method="GET">
				<input type="submit" value="Update">
			</form>

			<form action="/store/add_item_to_store/{{ store.pk }}" method="GET">
				<input type="submit" value="Add item">
			</form>
		{% empty %}
			<li>No stores yet</li>
		{% endfor %}
	</ul>
{% endblock %}