{% extends 'store/homepage_store_owner.html' %}
{% block page_content %}
	<form method="post">{% csrf_token %}
		{{ form.as_p }}
		{% csrf_token %}
	<div>Rules:</div>
		{% for rule in rules %}
			<div>
			<span>{{ rule }}</span>
			<span>
				<form action="/store/remove_rule_from_store/{{ rule.id }}" method="GET">
						<button class="store_buttons" type="submit"><i class="fas fa-trash-alt"></i></button>
				</form>
			</span>
			</div>
			<hr>
		{% endfor %}
	<div>Items:</div>
		{% for item in form_.items %}
			<div class="check_item">{{ item }}</div>
		{% endfor %}
		<input type="submit" value="Update">
	</form>
	{#	<div>#}
	{#	<form id="my_cart" action="/show_cart" method='post'>#}
	{#	#}
	{#	<div id="buy_button_1"><input class="buttons" type="submit" value="Buy now!"/></div>#}
	{#	</div>#}
{% endblock %}