{% extends 'base.html' %}

{% block content %}
	<h3 class="center-align red lighten-3">{{ title }}</h3>
	<ul class="collection">
		<ul class="my_stores">
			{% for cart in object_list %}
				<li>Store id:{{ cart.store_id }} </li>
				<form action="/view_cart/{{ cart.pk }}" method="GET">
					<input type="submit" value="View">
				</form>
			{% empty %}
				<li>No stores yet</li>
			{% endfor %}
		</ul>
{#		{% for item in results %}#}
{#			<li class="collection-item"><a href="home/item_page/{{ item.id }} "> {{ item.name }}#}
{#				: {{ item.description }}  </a></li>#}
			{#			<p>lllllll</p>#}
{#		{% endfor %}#}
	</ul>
{% endblock %}